<h2>Animal List</h2>
<p>Sort animals by:</p>
<input (click)="setPipeFilter('name')" type="radio" name="pipe-buttons" checked>
<label>Name</label>
<input (click)="setPipeFilter('youngest')" type="radio" name="pipe-buttons">
<label>Age (youngest)</label>
<input (click)="setPipeFilter('oldest')" type="radio" name="pipe-buttons">
<label>Age (oldest)</label>
<div *ngFor="let animal of animalList | AnimalProperty:filterProperty; let i = index" class="animal">
  <h3>{{animal.name}}</h3>
  <button (click)="editAnimal(animal)">Edit</button>
  <button (click)="deleteAnimal(i)">Delete</button>
  <p>{{animal.species}}</p>
  <ul>
    <li>Age: {{animal.age}}</li>
    <li>Diet: {{animal.diet}}</li>
    <li>Location: {{animal.location}}</li>
    <li>Caretakers: {{animal.caretakers}}</li>
    <li>Sex: {{animal.sex}}</li>
    <li>Likes: {{animal.likes}}</li>
    <li>Dislikes: {{animal.dislikes}}</li>
  </ul>
</div>
