<h2>Animal List</h2>
<div *ngFor="let animal of animalList | AnimalProperty:filterProperty" class="animal">
  <h3>{{animal.name}}</h3>
  <button (click)="editAnimal(animal)">Edit</button>
  <p>{{animal.species}}</p>
  <ul>
    <li>Age: {{animal.age}}</li>
    <li>Diet: {{animal.diet}}</li>
    <li>Location: {{animal.location}}</li>
    <li>Caretakers: {{animal.caretakers}}</li>
    <li>Gender: {{animal.sex}}</li>
    <li>Likes: {{animal.likes}}</li>
    <li>Dislikes: {{animal.dislikes}}</li>
  </ul>
</div>
